PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_XUdS1eGKsvy8@ep-odd-boat-b4ho4l0m-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=9f8e7d6c5b4a3f2e1d0c9b8a7f6e5d4c3b2a1f0e9d8c7b6a5f4e3d2c1b0a9f8e
